/* Media Queries for Responsive Design */

/* Large screens */
@media screen and (min-width: 1600px) {
  .section-container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

/* Tablets and smaller laptops */
@media screen and (max-width: 1200px) {
  #profile {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding-top: 12vh;
  }
  
  .section__pic-container {
    margin-bottom: 2rem;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .about-containers {
    flex-direction: column;
  }
  
  #experience .about-containers {
    grid-template-columns: 1fr 1fr;
  }
  
  .project-card {
    margin-bottom: 2rem;
  }
}

/* Tablets */
@media screen and (max-width: 992px) {
  .logo {
    font-size: 1.8rem;
  }
  
  .title {
    font-size: 3rem;
  }
  
  .section__text__p2 {
    font-size: 1.8rem;
  }
  
  .section__pic-container {
    width: 350px;
    height: 350px;
  }
  
  .about-pic {
    width: 100%;
    max-width: 400px;
  }
  
  #experience .about-containers {
    grid-template-columns: 1fr;
  }
  
  .article-container {
    grid-template-columns: 1fr 1fr;
  }
  
  .contact-info-upper-container {
    grid-template-columns: 1fr;
  }
}

/* Mobile devices */
@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }
  
  .hamburger-icon {
    display: flex;
  }
  
  section {
    margin: 0 1rem;
    padding-top: 15vh;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .section__text__p2 {
    font-size: 1.5rem;
  }
  
  .section__pic-container {
    width: 280px;
    height: 280px;
  }
  
  .btn-container {
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    width: 100%;
    max-width: 250px;
  }
  
  .about-containers {
    flex-direction: column;
  }
  
  .details-container {
    width: 100%;
  }
  
  .article-container {
    grid-template-columns: 1fr;
  }
  
  .project-img {
    height: 200px;
  }
  
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .social-icons {
    justify-content: center;
  }
}

/* Small mobile devices */
@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
  
  .title {
    font-size: 2.2rem;
  }
  
  .section__text__p1 {
    font-size: 1.2rem;
  }
  
  .section__text__p2 {
    font-size: 1.3rem;
  }
  
  .section__pic-container {
    width: 250px;
    height: 250px;
  }
  
  .about-pic {
    width: 100%;
    max-width: 300px;
  }
  
  .contact-info-container {
    flex-direction: column;
    text-align: center;
  }
  
  .menu-links {
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

/* Very small devices */
@media screen and (max-width: 400px) {
  .title {
    font-size: 1.8rem;
  }
  
  .section__pic-container {
    width: 220px;
    height: 220px;
  }
  
  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
  
  .details-container {
    padding: 1.2rem;
  }
  
  .contact-form-container {
    padding: 1.5rem;
  }
}

/* Landscape mode */
@media screen and (max-height: 700px) and (orientation: landscape) {
  #profile {
    height: auto;
    min-height: 100vh;
  }
  
  .section__pic-container {
    width: 200px;
    height: 200px;
  }
  
  .title {
    font-size: 2.2rem;
  }
}

/* High resolution screens */
@media screen and (min-resolution: 192dpi) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}